@media only screen and (max-width: 1900px) {
    .box h2 {
        font-size: 15px !important;
    }
    .box span {
        font-size: 40px !important;
        font-weight: 400 !important;
    }
  }
.box-container {
    margin-top: 3%;
}

.box {
    background-color: #173040FF;
    padding: 38px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #BD9A51FF;
    text-align: center;
    height: 100% !important;
    width: 100% !important;
    margin: auto !important;

}

.box span {
    font-size: 50px;
    font-weight: 400;
}

.box h2 {
    font-size: 25px;
}

.table-container {
    margin-top: 4%;
    color: #BD9A51FF;
}

.navbar {
    background-color: #173040FF !important;
    color: #BD9A51FF;
}

.navbar-light .navbar-brand {
    color: #BD9A51FF !important;
}

.btn-primary {
    background-color: #640D0DFF !important;
    color: white !important;
    border-color: #640D0DFF !important;
    position: relative;
    right: 8px;
}

.modal-body {
    text-align: center;
}

.container-fluid {

    padding-left: 0px !important;
    padding-right: 0px !important;
}

.row {
    margin-left: unset !important;
    margin-right: unset !important;
    /* min-width: 1798px !important; */
}

.table {
    width: 97% !important;
    margin: auto;
    border-color: #173040FF;
}

.dropdown {
    /* position: relative !important; */
    left: -20px !important;
}

button.btn.btn-primary {
    position: relative !important;
    right: 15px !important;
}

a.navbar-brand {
    position: relative !important;
    left: 18px !important;
}

.btn-secondary {
    background-color: #BD9A51FF !important;
    border-block-color: #BD9A51FF !important;

}

.dropdown-item:hover {
    background-color: #BD9A51FF !important;
}

.nav-item {

    position: relative !important;
    left: 10% !important;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    background-color: #640D0DFF !important;

}

.navbar-expand-lg .navbar-nav {
    gap: 15px !important;
}

.main-page-h2 {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 50px;
}

/* For Date pciker */
.year-selection {
    width: 12%;
    position: relative;
    align-items: end;
    left: 88%;
    margin-top: 30px;

}

/* .sl {
    width: 20% !important;
} */


.grph {
    box-sizing: unset !important;
    width: 600px !important;
    height: 700px !important;
    position: relative;
    left: 5%;
    top: 60px;
}

.active{

    background-color: #640D0DFF;
}
div.dataTables_wrapper {
    position: relative;
    top: 30px;
    padding: 25px;
}

/* Add your custom styles for the PDF button */
.dataTables_wrapper .dt-buttons .buttons-pdf {
    background-color: #173040FF;
    color: #ffffff;
    border: 1px solid #173040FF;
}

/* Add hover styles for better user feedback */
.dataTables_wrapper .dt-buttons .buttons-pdf:hover {
    background-color: #640D0DFF !important;
    color:white !important;
    border: 1px solid #640D0DFF !important;
}

input#yearMonthPicker {
    position: relative;
    bottom: 10px;
    width: 14%;
    left: 17px;
    /* align-items: end; */
}

/* @media screen and (max-width: 1900px) {
    .row {
      min-width: 1797px !important;
    }
  } */


.main-box{
    position: relative !important;
    top: 30px !important;
}
label {
    color: white !important;
  }

  .edit-btn{

    margin-top: 17px !important;
    left: 11px !important;
  }

  .dataTables_wrapper .dataTables_filter input {
    color: black !important;
}

.print
{
    right: 20px;
}
